<!DOCTYPE html>
<html lang="en">
<head>
	
	<link rel="stylesheet" href="css/template.css" type="text/css" />

</head>

<body class="">
	<div id="header"><div><div class="container">
		
		<img id="vaw_logo" src="../../images/default/vaw_logo.png" />
	
		<div id="navcontainer">
			<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Member Agencies</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Contact</a></li>
			</ul>
		</div>

	</div></div></div>
		
	<div id="masthead"><div class="container">
				
		<img id="masthead_img" src="../../images/default/img_main.jpg">		
		
		<div id="masthead_ul">
			<ul>
				<h1>A Community Working Together To End Violence Against Women</h1>
				<li>Morbi vel lacus sed magna gravida mattis 
					eu in nisl.</li>
				<li>Sed ullamcorper scelerisque ornare.    
				   Pellentesque convallis aliquam quam eget 
				   pretium.</li>
				<li>Praesent eget nisl libero.</li>
			</ul>
		</div>
		
		<div class="clear"></div>
	</div></div>
		
	<div id="body"><div class="container">
		<div id="component">
		
		</div>
		<div id="sidebar">
		
		</div>
		<div class="clear"></div>		
	</div></div>
		
	<div id="footer"><div><div class="container">
	</div></div></div>
		
</body>
</html>