.container {
	width: 940px;
	margin:0 auto;
	padding:0 10px;
	
	position: relative;
}

#header {
	background: url('../images/header_bg_bg.jpg') center top no-repeat;
}

#header > div { 
	height:138px;
	padding-bottom: 70px;
	background: url('../images/header_bg.jpg') center top no-repeat;
}

#header .container { padding: 30px 0 10px; }




#masthead  {
	
	color:#5a2874;
}
 #masthead .container { 
	border-bottom:1px solid #5a2874;
	padding: 0 0 20px;
}

#masthead_img {
	float:left;
}

#masthead_ul {
	float:left;
	width:320px;
}

#component {
	width:630px;
	margin-right:20px;
	float:left;
}

body. isWide #component {
	width:100%;
	margin-right:0;
}

#sidebar {
	width: 280px;
	margin-left:20px;
	float:left;
}

#footer {
position:absolute;
background: url('../images/footer_bg.jpg') center bottom no-repeat;
width:1220px;
height:176px;
top:940px;
}

#vaw_logo {
}

