ul.menu {
	list-style: none;
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

ul.menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;

	margin-left: 6px;
	padding-left: 6px;
}

ul.menu li:first-child {
	margin-left: 0;
	padding-left: 0;
}

ul.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 12px;
}

/* @group main menu */
#header .moduletable.menu {
	position: absolute;
	bottom: 45px;
	right:0;
}

#header .moduletable.menu ul {
	font-size: 14px;
}

#header .moduletable.menu ul li { 
	padding: 0 0 0 10px;
	margin-left: 6px;
}

#header .moduletable.menu ul li a {
	padding: 0 10px 0 0;
	line-height:35px;
}

#header .moduletable.menu ul li:first-child a {
	margin-left:0;
}

#header .moduletable.menu ul li:hover {
	background: url('../images/navrollover.png') top left no-repeat;
}

#header .moduletable.menu ul li:hover a {
	background: url('../images/navrollover.png') bottom right no-repeat ;
}
/* @end */

/* banner IMG */

.moduletable.bannerImg {
	float:left;
	width:620px;
}


/* masthead */

.moduletable.masthead { 
	float:right;
	width:290px;
}

.moduletable.masthead li { 
	padding:5px;
}

.moduletable.masthead p { 
	margin:0 0 20px 0;
	line-height: 30px;
}

.moduletable.masthead ul {
	padding: 0 0 0 15px;
	margin: 0;
}

/* @end */

/* footer menu */
#footer .moduletable.menu ul li { 
	border-left: 1px solid #eee9f1;
}

#footer .moduletable.menu li:first-child {
	border:none;
}

#footer .moduletable.menu a:hover {
	color: #fff;
	text-decoration:underline;
}

/* @end */

/* contact */

#contact {
	list-style-type:none;
}

.moduletable.contact {
	background: url('../images/logo_symbol.png') bottom right no-repeat;
}

.moduletable.contact a {
	color:#5a2874;
	text-decoration:none;
}

.moduletable.contact a:hover {
	text-decoration:underline;
}

/* @end */

/* sidebar */

.moduletable.list {
	margin: 0;
	padding: 0;
}

.moduletable.list ul {
	padding: 0;
}

.moduletable.list p {
	font-size:12px;
	list-style-type:none;
	padding: 14px 0;
	margin:0em;
	border-bottom:1px solid #eee9f1;
}

#sidebar .moduletable {
	margin-top:1em; 
	margin-bottom:20px; 
	}
	
#sidebar .moduletable:first-child {margin-top: 0; }
/* @end */
