ul.menu {
	list-style: none;
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

ul.menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;

	margin-left: 6px;
	padding-left: 6px;
}

ul.menu li:first-child {
	margin-left: 0;
	padding-left: 0;
}

ul.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 12px;
}

/* @group main menu */
#header .moduletable.menu {
	position: absolute;
	bottom: 25px;
	right:0;
}

#header .moduletable.menu ul {
	font-size: 14px;
}

#header .moduletable.menu ul li { 
	padding: 0 0 0 10px;
	margin-left: 6px;
}

#header .moduletable.menu ul li a {
	padding: 0 10px 0 0;
	line-height:35px;
}

#header .moduletable.menu ul li:first-child a {
	margin-left:0;
}

#header .moduletable.menu ul li:hover {
	background: url('../images/navrollover.png') top left no-repeat;
}

#header .moduletable.menu ul li:hover a {
	background: url('../images/navrollover.png') bottom right no-repeat ;
}
/* @end */

/* footer menu */
#footer .moduletable.menu ul li { 
	border-left: 1px solid #eee9f1;
}

#footer .moduletable.menu li:first-child {
	border:none;
}
/* @end */

#sidebar .moduletable { margin-top: 1em; } /* FIXME wrong spacing */
#sidebar .moduletable:first-child { margin-top: 0; }
