ul.menu {
	list-style: none;
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

ul.menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;

	margin-left: 6px;
	padding-left: 6px;
}

ul.menu li:first-child {
	margin-left: 0;
	padding-left: 0;
}

ul.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 12px;
}

/* @group main menu */
#navcontainer {
	position: absolute;
	bottom: 25px;
	right:0;
}

#navcontainer ul {
	font-size: 14px;
}

#navcontainer ul li { 
	padding: 0 0 0 10px;
	margin-left: 6px;
}

#navcontainer ul li a {
	padding: 0 10px 0 0;
	line-height:35px;
}

#navcontainer ul li:first-child a {
	margin-left:0;
}

#navcontainer ul li:hover {
	background: url('../images/navrollover.png') top left no-repeat;
}

#navcontainer ul li:hover a {
	background: url('../images/navrollover.png') bottom right no-repeat ;
}
/* @end */

/* footer menu */
#navfooter ul li { 
	border-left: 1px solid #eee9f1;
}

#navfooter li:first-child {
	border:none;
}
/* @end */