.floatleft { float: left; }
.floatright { float:right; }
.clear { clear:both; }

#body img.floatright {
	margin: 0 0 25px 30px;
}

#body img.floatleft {
	margin: 0 30px 25px 0;
}

ul.events {
	margin: 0;
	padding: 0;
}

ul.events li {
	font-size:12px;
	list-style-type:none;
	padding: 14px 0;
	margin:0em;
	border-bottom:1px solid #eee9f1;
}

ul.events li:hover {
	background: url('../images/logo_symbol.png') 100% 85% no-repeat;
}

ul.big {
	padding: 0 0 0 0;
	margin: 0;
}

ul.big li {
	margin-left:15px;
	padding:5px;
	font-size:14px;
	font-weight:100;
}

#contact a {
	color:#5a2874;
	text-decoration:none;
}

#footer a {
	color: #fff;
	text-decoration:none;
}


.blog .item {margin-bottom:3em;}

.blog .leading-0 {
	margin-bottom:3em;
	margin-top:3em;
	}

.blog. itemrow .item {margin-left:1em;}

